*{
    background-color: #FFF9C4;
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
    text-align: center;
}

.titulo {
    font-size: 40px;
    font-family: 'Sans-Serif';
    font-weight: bold;
    color: #A367A5;
    text-align: center;
    padding: 10px;
}

.instrucoes {
    font-size: 20px;
    font-family: 'Sans-Serif';
    color: #6495ED;
    text-align: center;
    padding-bottom: 10px;
}

canvas{                
    margin: 0 auto;
    border: 1px solid #804080;
    display: block;
    background-color:#D8BFD8;
}